@font-face {
  font-family: HelveticaLight;
  src: url(../fonts/HelveticaLTStd-Light.otf);
}
@font-face {
  font-family: HelveticaBoldCond;
  src: url(../fonts/HelveticaLTStd-BoldCond.otf);
}
@font-face {
  font-family: DolceVitaLight;
  src: url('../fonts/Dolce Vita.ttf');
}
